#primecontainer
{
	width:788px;
	height:453px;
}
#primeslide
{
	width:330px;
	height:373px;
	float:left;
}
#primeform
{
	width:251px;
	height:452px;
	float:right;
	background-image: url('../../../image/primeBG.png');
}
#formcontent
{
	position:absolute;
	right:70px;
	top:230px;
}
#gateway
{
	position:absolute;
	right:23px;
	top:405px;
}
