/*CSS for Entry coupon */
h2.ync-title-block
{
	border-bottom: 1px solid #D4D4D4;
	margin-bottom: 10px;
	height: 12px;
	margin-bottom: 13px;
}

.js_coupon_parent
{
	height:190px;
	width:166px;
	float:left;
	margin: 0 7px 16px 0;
	margin-bottom:16px;
}
.ync-profile{
	margin-right:32px;
}

#site_content .ync-image-coupon {
	height: 108px;
	width: 164px;
	position:relative;
	border: 1px solid #676767;
}
.ync_pending_link,
.ync_close_link,
.ync_reached_link,
.ync_pause_link,
.ync_upcoming_link,
.ync_featured_link,
.yn_hightlight_link,
.ync_ending_soon_link
{
	position:absolute;
	bottom:10px;
	left:-3px;
	width:170px;
	height:18px;
	background:url(../../../image/default/sprites.png) no-repeat;
	color:#fff;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	z-index:2;
}
.ync_featured_link {
	background-position: 0 -44px; ;
}
.ync_ending_soon_link {
	background-position: 0 -22px;
}
.ync_upcoming_link {
	background-position: 0 -66px;
}
.ync_close_link {
	background-position: 0 0;
}


.ync_title_info .ync-title, .ync_titleMiddle_info .ync-title
{
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
}
/*CSS for highlight block */
#js_block_border_coupon_highlight-coupon .content
{
	background:#336699;
	padding:4px;
}
.ync-highlight div,
.ync-highlight,
.ync-highlight a
{
	color:#fff;
}
.ync-highlight
{
	margin-bottom: 10px;
    padding: 0 15px;
}
.ync-highlight-image 
{
	height: 160px;
    text-align: center;
    width: 241px;
}
.ync-highligh-detail .meter-wrap-l{
    position: relative;
	
}
.ync-highligh-detail .meter-wrap-l,.ync-highligh-detail .meter-wrap-r,.ync-highligh-detail .meter-wrap{background: url(../../../image/nl-sm.png) repeat-x;}
.ync-highligh-detail .meter-wrap{background-position: 0 -29px;height:22px;padding-top:3px;width:211px;}
.ync-highligh-detail .meter-wrap-l{background-position: 0 -2px;padding-left:3px;background-repeat:no-repeat;}
.ync-highligh-detail .meter-wrap-r{ background-position: 100% -55px;padding-right: 2px;width:212px;background-repeat:no-repeat}
.ync-highligh-detail .meter-wrap-l {
	/* The width and height of your image */
	width: 217px; height: 22px;
	margin-left:14px;
}
.ync-highligh-detail .meter-value
 {
	height:15px;
	background:url(../../../image/nl-s.jpg) no-repeat;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:10px;
 }
 .ync-highligh-detail{color:#fff;font-size: 12px;background:#2E6696}
 .ync-highligh-detail > .extra_info > p
 {
	color:#fff;
    font-weight: bold;
	text-align:center;
 }
 .ync-be-the-first-phrase
 {
	margin-left: 122px;
	font-size: 14px;
	margin-top: 10px;
	font-weight: bold;
 }
 	
.ync-donor
 {
	margin-left:18px;
	overflow:hidden;
 }
.ync-donor a
{
	border:1px transparent;
	display:block;
	height:32px;
	float:left;
	margin-right:2px;
}
.ync-donor a:hover{
	 border:1px  #333333;
  }
.ync-donate 
{
	background:url(../../../image/fr.png) no-repeat 0 -169px;
	height: 48px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 25px;
    text-align: center;
    width: 147px;
}
.ync-donate  a
{
	color: #003366;
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    line-height: 28px;
}
.ync-short-des
{
	color: #FFFFFF;
    margin: 10px 15px 10px 19px;
}

/*CSS for feature slideshow */
.ync-feature
{
	width: 520px;
	/* background:url(../../../image/feature-home.gif) repeat-x bottom #EFF7FC; */
}
.ync-feature .ync-feature-info > a
{
    display: block;
}
.ync-feature .ync-left {
	border: 1px solid #B3B9BD;
	box-shadow: 0 0 3px #B3B9BD;
	display: block;
	float: left;
	margin: 10px 15px 10px 10px;
	position: relative;
}
.ync-feature .ync-discount {
	position: absolute;
	right: 0;
	top: 18px;
	font-size: 18px;
	color: #fff;
	background-color: #F26522;
	font-weight: bold;
	display: block;
	padding: 3px 8px;
}
.ync-feature .ync-feature-info .ync-feature-content
{
	float: left;
	height: 161px;
	margin: 15px 15px 5px 5px;
	overflow: hidden;
	width: 220px;
}
.ync-feature .ync-feature-info .ync-feature-content p
{
	color: #808080;
}
p.ynjp_featureContent_coName a:link, p.ynjp_featureContent_coName a:visited
{
	color: #666;
	font-weight: 700;
}
p.ynjp_featureContent_industry
{
	font-weight: 700;
}
.ynjp_featureDesc
{
	clear: both;
}
.ync-feature-info a.ynjp_viewmore
{
	display: block;
	text-align: right;
	color: #505050;
	font-style: italic;
	margin-bottom: 10px;
}
a.ynjp_viewmore, .ynjp_featureDesc
{
	margin: 0px 30px 0px 10px;
}
.ync-feature-info .ync-title
{
	font-size:14px;
	font-weight:700;
	padding-bottom: 5px;
}
.ync-feature-info .ync-short-des
{	
	font-size:12px;
	margin-left:0;
}.ync-feature-donated
{
	margin-top:10px;
	position:relative;
}
.ync-feature-donated .meter-wrap-l,
.ync-feature-donated .meter-wrap-r,
.ync-feature-donated .meter-wrap
{background: url(../../../image/fr-lp.png) repeat-x;}
.ync-feature-donated .meter-wrap{background-position: 0 -34px;height:27px;padding-top:3px;width:489px;}
.ync-feature-donated .meter-wrap-r{  background-position: 0 -68px;padding-right: 2px;width:489px;}
.ync-feature-donated .meter-wrap-l {
	/* The width and height of your image */
	width: 489px;
	margin-left:14px;
	background-position: 0 0px;
	padding-left:2px;
	height:26px;
}
.ync-feature-donated .meter-value
 {
	height:20px;
	background:url(../../../image/nl-l.jpg) no-repeat;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:10px;
	line-height:19px;
 }
 .ync-feature-donated p
 {
	color: #313131;
    font-size: 12px;
    font-weight: bold;
    height: 19px;
    position: relative;
 }
 .ync-feature-donated .ync-m span
 {
	left: 14px;
    position: absolute;
 }

 .ync-feature-donated .ync-thankyou-donor span
 {
	padding-top: 4px;
 }
 
  .ync-feature-donated .ync-m span + span
  {
	right: 22px;
	left:auto;
  }
 .ync-feature-donated .ync-remain
 {
	position:absolute;
	right:22px;
 }
 .ync-feature-donated .ync-donor
 {
	margin-left:14px;
 }
 
 a.green_btn {
	display: inline-block;
	padding: 4px 11px;
	border: 1px solid #626D41;
	margin-top: 15px;
	background: url(../../../image/default/green_gradient.png) repeat-x left top #A4C93F;
}
a.ync_btn {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 12px;
	color: #fff;
	position: relative;
	min-width: 20px;
	min-height: 20px;
}

 a.getcode_btn {
	padding-left: 35px;
 }

 a.green_btn span {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 8px;
	text-indent: -9999em;
	overflow: hidden;
	position: absolute;
	top: 3px;
	left: 10px;
 }
 a.getcode_btn span {
	background: url(../../../image/default/icon-getcode.png) no-repeat left center transparent;
 }
 a.printcode_btn span {
	background: url(../../../image/default/icon-print.png) no-repeat left center transparent;
 }
 /*CSS for user ync */
 .ync-user{color:#333333;overflow:hidden;margin-bottom:3px;}
 .ync-user > a
 {
		display: block;
		float: left;
		margin-right: 10px;
 }
  .ync-user > div a
  {
	font-weight:bold;
  }
.ync-user-option
{
	float:right;
}
.ync-user-option li a,
.ync-user-option li a:hover
{
	
	padding: 5px;
	display: block;
	font-size: 12px;
	color: black;
	font-weight: bold;
	min-width: 120px;
	text-decoration:none;
	line-height:14px;
} 
.ync-alluser h2
{
	border-bottom: 1px solid #DFDFDF;
	line-height: 50px;
	margin-bottom: 20px;
}
.ync-alluser h2 span
{
	font-size: 20px;
	text-transform: uppercase;
}
.ync-user-option li a:hover,
.ync-user-option li a.active
{
	background:#ccc;
}


#ync_slides {
	position:relative;
	top:15px;
	left:4px;
	z-index:100;
	margin-bottom: 27px;
	width: 520px;
	background: #F0F0F0;
}

#ync_gallery_slides {
	position:relative;
	top:15px;
	left:4px;
	z-index:100;
	width: 500px;
	height: 332px;
	background: #1b1714;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container.ync_featured_slides_container{
	width:520px;
	height:235px;
	overflow:hidden;
	position:relative;
	display:none;
}


.slides_container.ync_gallery_slides_container{
	width:500px;
	height:297px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container.ync_gallery_slides_container .panel{
	float: left;
	position: relative;
	width: 500px;
	text-align: center;
}

#ync_gallery_slides .pagination {
	left: 53px;
	position: absolute;
}

#ync_gallery_slides .pagination li {
	float:left;
	margin:2px;
	list-style:none;
}

#ync_gallery_slides .pagination li a {
	display:block;
	height:28px;
	float:left;
	/*background:#f9f9f9;*/
	overflow:hidden
}

#ync_gallery_slides .pagination li.current a {
	border:1px solid #7f7f7f;
	margin:0;
}


/*
	Next/prev buttons
*/
#ync_slides .ync-prev,
#ync_slides .ync-next 
{
	position:absolute;
	width:27px;
	height:26px;
	display:block;
	z-index:1000;
	background:url(../../../image/default/sprites.png) no-repeat;
	text-indent: -99999px;
	top: 105px;
}
#ync_slides .ync-next {	
	right: 10px;
	background-position: -52px -93px;
}

#ync_slides .ync-prev {
	left:10px;
	background-position: 0 -93px;
}
#ync_gallery_slides .next,
#ync_gallery_slides .prev
{
	position:absolute;
	width:22px;
	height:21px;
	display:block;
	z-index:1000;
	text-indent:-9999px;
	background:url(../../../image/fr.png) no-repeat;
	bottom:6px;
}
#ync_gallery_slides .next {
	
	left:475px;
	background-position: -85px -125px;
}

#ync_gallery_slides .prev {
	left:7px;
	
	background-position: -2px -125px;
}


.ync_view_more_link {
	font-weight: bold
}
.ync-viewmore,
.ync-viewmore-r {
	font-weight: bold;
	font-size: 11px;
	background: url(../../../image/default/sprites.png) no-repeat -2px -161px;
	margin-bottom: 30px;
	padding-left: 10px;
	display: inline-block;
	margin-top: -8px;
}
.ync-viewmore-r {
	margin: 15px 0 20px 0;
}

#js_block_border_coupon_detail{padding-top:20px;}
/*CSS for All Donors*/
.ync-alluser .ync-user
{
	border: 1px solid #DFDFDF;
    border-radius: 4px 4px 4px 4px;
    float: left;
    height: 35px;
    overflow: hidden;
    padding: 10px;
    width: 28%;
	margin-bottom:15px;
}
.ync-alluser .ync-user.item-middle
{
	margin-left:16px;
	margin-right:16px;
}
/*CSS for donate form*/
.ync.image_header
{
	float:left;
}
.ync.description_header a{font-size:18px;}

.ync.coupon-entry.draft-text{
	color: red;
	font-weight: bold
}

.ync.required {
	color: #333
}

.error {
	color: red
}

.js_prev_block {
	width: 500px
}
/** CSS for profile **/
.ync-profile 
{
	margin:0 6px 23px 0 !important;
	padding-right: 0px !important;
}

.extra_info.ync_extra_info
{
	font-size:11px;
	font-weight: normal ;
	color: gray
}
.ync-coupon .extra_info {
	padding-top: 2px;
}

/* CSS for coupon block in homepage*/
.ync-title-block span {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	background-color: #fff;
	padding-right: 10px;
	position: relative;
	bottom: 1px;
}

/* Right block*/
.ync-coupon {

}
.ync-coupon > a {
	float: left;
	margin-right: 5px;
	border: 1px solid #B7B7B7;
}

.ync-coupon > div {
	overflow: hidden;
}
.ync-coupon .ync-title a {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.ync-coupon + .ync-coupon {
	border-top: 1px solid #CDCDCD;
	padding-top: 10px;
	margin-top: 10px;
}
#site_content .ync-image-coupon a.ync_coupon_img{
    display: block;
    overflow: hidden;
    height: 108px;
    width: 164px;
	position:relative;
}
#site_content .ync-image-coupon a.moderate_link,
#site_content .ync-image-coupon a.moderate_link:hover{
	position: absolute;
	top: -6px;
	left: -1px;
}


/* JOBS - SEARCH FORM */
.ynjp_browse_title
{
	font-weight: 700;
}
.ynjp_searchDatePicker
{
	position: relative;
}
.ynjp_DatePicker_img img
{
	position: absolute;
	overflow: hidden;
	z-index: 100;
	top: 11px;
	left: 79px;	
}
.ynjp_inputDatePicker
{
	width: 90px;
	cursor: pointer;
}
.ynjp_search_DatePicker_holder input[type="text"]
{
	font-size: 11px;
	color: #666;
	font-weight: 700;
}


/* Column Right-imgTitle */
.ynjp-image-blockCol
{
	float: left;
	margin-right: 10px;
}

.ynjp_subscribeJob a:link, .ynjp_subscribeJob a:visited
{
	color: #cd0c0c;
	font-size: 12px;
	font-weight: 700;
}


/* Column Middle Content */
div.ync_titleMiddle_content
{
	padding-left: 0;
	padding-right: 0;
}
.small_ynjp_icon_holder
{
	color: #FFF;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
}
.ynjp_middleContent_holder
{
    position: relative;
}
.small_feature_icon
{
	background: url(../../../image/default/featured_l.png) no-repeat left top transparent;
	padding-left: 5px;
}
.small_feature_icon span
{
	background: url(../../../image/default/featured_r.png) no-repeat right top transparent;
	padding: 0 12px 0 2px;
}
div.small_feature_icon_listView
{
	background: url(../../../image/default/featured_listView_l.png) no-repeat left top transparent;
	right: 0;
}
.small_feature_icon_listView span
{
	background: url(../../../image/default/featured_listView_r.png) no-repeat right top transparent;
	padding: 0 7px 0 12px;
}
.small_ynjp_icon_holder span
{
	display: block;
	font-size: 10px;
	height: 20px;
	line-height: 21px;
	text-align: left;
}
.ynjp_middleContent_listView_holder
{
	border-bottom: 1px solid #DFDFDF;
}

.ync_titleMiddle_info
{
	margin-left: 130px;
}

.ynjp_middleContent_listView_holder .ync_titleMiddle_info
{
	padding-right: 95px;
}
.small_sponsored_icon
{
	background: url(../../../image/default/sponsored_l.png) no-repeat left top transparent;
	padding-left: 5px;
}
.small_sponsored_icon span
{
	background: url(../../../image/default/sponsored_r.png) repeat-x right top transparent;
	padding: 0 12px 0 2px;
}
div.small_sponsored_icon_listView
{
	background: url(../../../image/default/sponsored_listView_l.png) no-repeat left top transparent;
	right: 0;
}
.small_sponsored_icon_listView span
{
	background: url(../../../image/default/sponsored_listView_r.png) no-repeat right top transparent;
	padding: 0 7px 0 12px;
}
/* Check and Select button */
.ynjp_middleContent_listView_holder div.video_moderate_link
{
	margin-left: -4px;
	height: 100%;
	top: -2px;
}
.ynjp_middleContent_listView_holder .ync_titleMiddle_info
{
	margin-left: 20px;
}



/* JOB DETAIL - MIDDLE */
.ync_code_txt
{
	margin-top: 20px;
	border: 0;
	background: none transparent;
}
.yc_view_tab *
{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
.yc_view_tab ul.ync_tabs
{
	padding: 0 0 0 10px;
	background-color: #F5F5F5;
	border: 0;
	border-bottom: 1px solid #BABABA;
	height: 34px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.ync_tabs li
{
	float: left;
	height: 33px;
	line-height: 33px;
	font-size: 12px;
	padding: 0 18px;
	color: #333;
}
.ync_tabs li.active
{
	height: 34px;
	margin-top: 1px;
	background-color: #fff;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
	border-top: 2px solid #D0D0D0;
	border-left: 1px solid #ECECEC;
}
.ync_tabs_content > li.active
{
	display: block;
}
.yc_view_tab ul.ync_tabs_content > li
{
	padding: 10px 0;
}
div.yc_view_tab .ync_tabs .ui-tabs-selected
{
	border-top: 2px solid #FACC16;
	height: 31px;
}
div.yc_view_tab .ync_tabs a, div.yc_view_tab .ync_tabs .ui-tabs-selected a
{
	color: #333;
}
div.yc_view_tab .ync_tabs a
{
	font-weight: normal;
	padding: .1em 1em;
	color: #999;	
}
div.yc_view_tab .ync_tabs a, div.yc_view_tab .ync_tabs .ui-tabs-selected a
{
	font-weight: 700;
}
#content_load_data h1.ynjp_jobDetail_title a
{
	color: #3b5998;
	font-weight: 700;
}
.ynjp_jobDetail_container .item_info
{
	color: #F00000;
}
.job_detail_information h4
{
	border-bottom: 1px solid #E1E1E1;
	font-size: 12px;
	font-weight: 700;
}
.job_detail_information h4 span
{
	color: #333;
	background-color: #fff;
	position: relative;
	bottom: -4px;
	padding-right: 10px;
}
.job_detail_information p
{
	padding: 10px;
	color: #808080;
}
.ynjp_item_tagItems
{
	padding-left: 5px;
}
.ynjp_item_tagItems a
{
	background-color: #e0e0e0;
	padding: 2px 8px 3px;
	border-radius: 10px;
	border: 1px solid #D0D0D0;	
}
/* Job Detail Attachment */
.attachment_holder_view .attachment_row
{
	padding: 0;
	margin: 5px 0 10px 15px;
}
.attachment_holder_view .attachment_row > div
{
	padding: 6px 0px 6px 15px;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	background-color: #F6F6F6;	
}
.attachment_row .attachment_row_title a:link,
.attachment_row .attachment_row_title a:visited
{
	color: #0088CC;
}
.attachment_row .attachment_body .attachment_body_description
{
	color: #808080;
}




/* JOB DETAIL THUMBS & LINKS */
#js_controller_jobposting_company_view #left > div, #js_controller_jobposting_view #left > div
{
	margin-bottom: 15px;
}
.js_box_thumbs_holder2
{
	margin-bottom: 0px!important;
}
.ynjp_detail_links ul li
{
	padding: 3px 0px;
}
.ynjp_detail_links ul li a
{
	background: url(../../../image/default/view_more.png) scroll 0 50% transparent no-repeat;
	padding-left: 14px;
	font-size: 11px;
}
#join_leave_company
{
	text-align: center;
}
#join_leave_company input[type="button"]
{
	background: #3B5998;
	background-image: -ms-linear-gradient(top, #6179AA 0%, #3B5998 100%);
	background-image: -moz-linear-gradient(top, #6179AA 0%, #3B5998 100%);
	background-image: -o-linear-gradient(top, #6179AA 0%, #3B5998 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6179AA), color-stop(1, #3B5998));
	background-image: -webkit-linear-gradient(top, #6179AA 0%, #3B5998 100%);
	background-image: linear-gradient(to bottom, #6179AA 0%, #3B5998 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6179AA',endColorstr='#3B5998',GradientType=0);
	border: 1px solid #3D4E7E;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-icab-border-radius: 7px;
	border-radius: 7px;	
	padding: 8px 8px;
	font-size: 12px;
}



/* JOB DETAILS - APPLY JOB */
.ynjp_jobDetail_container
{
	padding-bottom: 20px;
}
.ynjp_jobDetailApply
{
	border-top: 1px solid #DFDFDF;
	padding-top: 10px;
	padding-left: 7px;
}
.ynjp_jobDetailTitle
{
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
}
.ynjp_applyJob_btn_holder
{
	text-align: center;
	overflow: hidden;
	padding-left: 10px;
	margin-top: 4px;
}
.ynjp_applyJob_btn
{
	background:url(../../../image/default/job_apply_btn_r.png) no-repeat right top transparent;
	float: left;
	height: 37px;
	padding: 0 35px 0 0;
}
.ynjp_applyJob_btn:hover
{
	cursor: pointer;
}
a.ynjp_applyJob_btn_a:link, a.ynjp_applyJob_btn_a:visited, a.ynjp_applyJob_btn_a:hover
{
	height: 37px;
	line-height: 40px;
	background: url(../../../image/default/job_apply_btn_l.png) no-repeat left top transparent;
	padding: 0px 0px 0px 35px;
	display: block;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;	
	-webkit-text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.35);
	-moz-text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.35);
	text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.35);
	text-decoration: none;
}
.ynjp_jobDetailApply .extra_info
{
	word-wrap: break-word;
}

/* APPLY JOB FORM */
.ynjp_apply_header_holder, .ynjp_apply_Jobheader_holder
{
	padding-right: 0;
	padding-bottom: 7px;
	padding-left: 0;
	border-bottom: 1px solid #DFDFDF;
}
.ynjp_apply_Jobheader_holder
{
	padding-top: 10px;
	overflow: hidden;
}
.ynjp_applyformTitle, .ynjp_applyJobTitle
{
	font-weight: 700;
}
.ynjp_applyformTitle
{
	font-size: 14px;
}
.ynjp_applyformDesc, .ynjp_applyformInfo
{
	color: #808080;
}
.ynjp_applyJobTitle
{
	font-size: 12px;
	color: #0088CC;
}
.ynjp_applyJobform_Info
{
	overflow: hidden;
	padding-right: 15px;
}
a.ynjp_applyform_infoThumb
{
	display: block;
	float: right;
}
a.ynjp_applyform_infoThumb img
{
	border: 1px solid #B0b0b0;
}
.ynjp_apply_Job_form
{
	margin-top: 10px;
}
.ynjp_apply_Job_form .table
{
	overflow: hidden;
}
.ynjp_apply_Job_form .table .table_left, .ynjp_apply_Job_form .table .table_right
{
	float: left;
}
.ynjp_apply_Job_form .table .table_right
{
    width: 315px;
    padding-bottom: 6px;
}
.ynjp_apply_Job_form .table .table_left
{
	padding-top: 6px;
	margin-right: 10px;
	width: 95px;
}
.ynjp_apply_Job_form .table .table_right #div_photo_resume,
.ynjp_apply_Job_form .table .table_right #div_photo_resume > div,
.ynjp_apply_Job_form .table .table_right #div_list_resume
{
	padding-left: 3px;
}
.ynjp_applyForm_submit input
{
	margin-right: 5px;
}
/* View Application */
.ynjp_application .table
{
	padding-bottom: 0;
}
.ynjp_application .table_right
{
	padding-top: 6px;
}
div.ynjp_application_employee
{
	min-height: 80px;
}
.ynjp_application_employee .ynjp_row_employee_name
{
	margin-left: 105px;
}



/* COMPANY DETAIL */
.ync_tabs_content
{
	padding: 5px 10px 10px 10px;
}
.ynjp_tabInformation .ync_tabs_content ul > li
{
	overflow: hidden;
}
.ynjp_tabInformation .ync_tabs_content ul > li > span:first-child
{
	color: #333;
	font-weight: 700;
}
.ynjp_tabInformation .ync_tabs_content ul > li > span
{
	display: block;
	float: left;
	overflow: hidden;
	width: 95px;
	margin-right: 7px;
	color: #808080;
}
.ynjp_tabInformation .ync_tabs_content ul > li > span + span
{
	min-width: 0;
	width: auto;
}
.ynjp_tabInformation .ync_tabs_content ul > li + li
{
	margin-top: 2px;
}
.ynjp_tabInformation .ync_tabs_content > li > h4
{
	margin-top: 15px;
}
.ynjp_tabInformation .ync_tabs_content > li > ul:first-child
{
	padding-left: 0;
}
.ynjp_tabInformation .ync_tabs_content > li > ul
{
	padding-top: 5px;
	padding-left: 20px;
}
.ynjp_h4_location span b
{
	color: #808080;
	font-size: 11px;
}
.ynjp_companyNameCo
{
	color: #095dbe!important;
	font-size: 12px;
	font-weight: 700;
}
.ynjp_tabInformation .ync_tabs_content li iframe
{
	padding-left: 20px;
}


/* Employees Block */
.ynjp_row_employee_loop
{
	min-height: 50px;
	position: relative;
}
.ynjp_employee_image
{
	width: 52px;
	position: absolute;
	left: 0px;
}
.ynjp_row_employee_name
{
	margin-left: 56px;
	font-size: 13px;
    font-weight: bold;
	color: #808080;
	margin-bottom: 6px;
	padding-top: 8px;
	overflow: hidden;	
}


/* Jobs - Tab Container */
#href_view_more
{
	margin-top: 10px;
}
#href_view_more a, #href_view_more a:hover
{
	background: url(../../../image/default/view_more.png) scroll 0 50% transparent no-repeat;
	font-size: 11px;
	text-decoration: none;
	padding-left: 14px;
	font-weight: 700;
}



/*  Subscribe Job Form */
.ynjp_subscribeJ_holder
{
	clear: both;
	padding-bottom: 5px;
	overflow: hidden;
	width: 540px;
}
.ynjp_subscribeJ_holder > div
{
	float: left;
}
.ynjp_subscribeJ_holder .p_top_4 .p_4
{
	padding-left: 0;
}
.ynjp_subscribeJ_holder > div > div.p_4 > div
{
	float: left;
	padding-top: 0!important;
}
.ynjp_subscribeJ_holder > div > div.p_4 > div + div
{
	margin-left: 5px;
}
.ynjp_subscribeJ_holder .p_top_8 input
{
	display: block;
	margin-top: 2px;
	margin-left: 5px;
}

.jobposting_view_image_extra
{
    padding-top:5px;
    text-align:center;
}

.jobposting_view_image_extra ul
{
    margin:0px 0px 0px 5px;
    padding:0px;
    list-style-type:none;
}

.jobposting_view_image_extra ul li
{
    margin: 0px 0px 3px 0px;
    float:left;
    padding-right:5px;
}

.jobposting_view_image_extra img
{
    border:1px #DFDFDF solid;
    background:#fff;    
}

.yc_view_participant li{
	float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    width: 30%;
}



/* SUBMISSION FORM */
#js_jobposting_company_block_form .table
{
	overflow: hidden;
}
#js_jobposting_company_block_form .table .table_left, #js_jobposting_company_block_form .table .table_right
{
	float: left;
}
#js_jobposting_company_block_form .table .table_left
{
	width: 110px;
	margin-right: 10px;
}
#js_jobposting_company_block_form .table .extra_info
{
	margin-left: 123px;
}
.ynjp_resumeFormat_right
{
	padding: 2px 0 6px 0;
	font-weight: 700;
}
.ynjp_addField
{
	padding: 5px 0;
}
/* Submission - Custom Field */
#js_custom_field_review_holder
{
	width: 500px;
}
.ynjp_customField_holder
{
	padding: 6px 0px 6px 15px;
	border: 1px solid #DFDFDF;
	background: #F6F6F6;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
}
.ynjp_customField_left span
{
	font-weight: 700;
	font-size: 11px;
}
.ynjp_customField_control_holder
{
	position: absolute;
	top: 6px;
	right: 8px;	
}
.ynjp_customField_control_edit, .ynjp_customField_control_delete
{
	padding-bottom: 2px;
	text-indent: -9999999px;
	display: block;
	height: 16px;
	width: 16px;
	float: left;
}
.ynjp_customField_control_edit
{
	background: url(../../../../../../theme/frontend/default/style/default/image/stat/blog.png) no-repeat transparent;
	margin-right: 5px;
}
.ynjp_customField_control_delete
{
	background: url(../../../../../../theme/frontend/default/style/default/image/misc/delete.png) no-repeat transparent;
}
.ynjp_customField_title
{
	margin-left: -8px;
}
.ynjp_customField_holder .extra_info
{
	padding: 0px 0px 4px 0px;
}
/* MANAGED JOB POSTED */
.ynjp_manageJobPosted
{
	clear: both;
	overflow: hidden;
}
.ynjp_search
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f5f5f5;
	padding: 7px;
	float: left;
}
.ynjp_search > .ynjp_searchForm
{
	overflow: hidden;
	border: 1px solid #ddd;
	background: #fff;
	padding: 15px;
}
.ynjp_search .ynjp_searchForm > div:first-child
{
	margin-left: 0;
}
.ynjp_search .ynjp_searchForm > div
{
	float: left;
	overflow: hidden;
	margin-left: 10px;
}
.ynjp_search div label
{
	font-size: 8pt;
	font-weight: 700;
	display: block;
}
.ynjp_search div input, div.search div select
{
	/*width: auto*/;
	margin-top: 3px;
}
.ynjp_search .buttons
{
	margin-top: 1.2em;
}
.ynjp_search .buttons input[type=button]
{
	padding: 6px 8px;
}
/* MY BOUGHT PACKAGES */
#js_jobposting_company_block_packages .table .table_right input[type="checkbox"]
{
	margin-right: 5px;
}
/*
 * Search
 */
.yns.adv-search-block .p_4 input[type="text"]{
 width:98%;
}
.yns.adv-search-block form > .p_top_4{
 width:98%;
}
.yns.adv-search-block form .js_event_select{
 padding:4px;
}
.yns.adv-search-block form .js_event_select .js_datepicker_image{
 top:12px;
}