<table cellspacing="0" cellpadding="0" width="100%">
<tr>

<td valign="top" nowrap="nowrap" style="padding-right: 8px; width: 175px" id="dothe_leftsidebar">
<p style="margin-top: 12px">&nbsp;</p>
<ul class="admnav">
<li><a href="{$site_url}/index.php?a=admin" class="{$crnt_}"><strong>{$lng->a_menu_main} ::</strong></a></li>
</ul><br />

<div class="navheader">{$lng->a_header_members} ::</div>
<ul class="admnav">
<li{$li_admmenu_approve}><a href="{$site_url}/index.php?a=admin&amp;b=approve" class="{$crnt_approve}">{$lng->a_menu_approve}&nbsp;</a></li>
<li{$li_admmenu_manage}><a href="{$site_url}/index.php?a=admin&amp;b=manage" class="{$crnt_manage}">{$lng->a_menu_manage}&nbsp;</a></li>
<li{$li_admmenu_genealogy}><a href="{$site_url}/index.php?a=admin&amp;b=genealogy" class="{$crnt_genealogy}">{$lng->a_menu_genealogy}&nbsp;</a></li>
<li{$li_admmenu_add}><a href="{$site_url}/index.php?a=admin&amp;b=add" class="{$crnt_add}">{$lng->a_menu_addnew}&nbsp;</a></li>
</ul><br />

<div class="navheader">{$lng->a_header_payments} ::</div>
<ul class="admnav">
<li{$li_admmenu_admhistory}><a href="{$site_url}/index.php?a=admin&amp;b=admhistory" class="{$crnt_admhistory}">{$lng->a_menu_history}&nbsp;</a></li>
<li{$li_admmenu_pay_out}><a href="{$site_url}/index.php?a=admin&amp;b=pay_out" class="{$crnt_pay_out}">{$lng->a_menu_payout}&nbsp;</a></li>
<li{$li_admmenu_withdrawreq}><a href="{$site_url}/index.php?a=admin&amp;b=withdrawreq" class="{$crnt_withdrawreq}">{$lng->a_menu_withdraw}&nbsp;</a></li>
</ul><br />

<div class="navheader">{$lng->a_header_notification} ::</div>
<ul class="admnav">
<li{$li_admmenu_email}><a href="{$site_url}/index.php?a=admin&amp;b=email" class="{$crnt_email}">{$lng->a_menu_email}&nbsp;</a></li>
<li{$li_admmenu_smser}><a href="{$site_url}/index.php?a=admin&amp;b=smser" class="{$crnt_smser}">{$lng->a_menu_smser}&nbsp;</a></li>
<li{$li_admmenu_manage_news}><a href="{$site_url}/index.php?a=admin&amp;b=manage_news" class="{$crnt_manage_news}">{$lng->a_menu_manage_news}&nbsp;</a></li>
<li{$li_admmenu_manage_fback}><a href="{$site_url}/index.php?a=admin&amp;b=manage_fback" class="{$crnt_manage_fback}">{$lng->a_menu_manage_feedbacks}&nbsp;</a></li>
<li{$li_admmenu_messenger}><a href="{$site_url}/index.php?a=admin&amp;b=messenger" class="{$crnt_messenger}">{$lng->a_menu_messenger}&nbsp;</a></li>
</ul><br />

<div class="navheader">{$lng->a_header_responders} ::</div>
<ul class="admnav">
<li{$li_admmenu_responder_group}><a href="{$site_url}/index.php?a=admin&amp;b=responder_group" class="{$crnt_responder_group}">{$lng->a_menu_respondergroup}&nbsp;</a></li>
<li{$li_admmenu_responders}><a href="{$site_url}/index.php?a=admin&amp;b=responders" class="{$crnt_responders}">{$lng->a_menu_responder}&nbsp;</a></li>
<li{$li_admmenu_leads}><a href="{$site_url}/index.php?a=admin&amp;b=leads" class="{$crnt_leads}">{$lng->a_menu_leads}&nbsp;</a></li>
<li{$li_admmenu_addleads}><a href="{$site_url}/index.php?a=admin&amp;b=addleads" class="{$crnt_addleads}">{$lng->a_menu_addleads}&nbsp;</a></li>
</ul><br />

<div {$div_estore_none}>
<div class="navheader">{$lng->a_header_estore} ::</div>
<ul class="admnav">
<li{$li_admmenu_sales}><a href="{$site_url}/index.php?a=admin&amp;b=sales" class="{$crnt_sales}">{$lng->a_menu_sales}&nbsp;</a></li>
<li{$li_admmenu_email_cus}><a href="{$site_url}/index.php?a=admin&amp;b=email_cus" class="{$crnt_email_cus}">{$lng->a_menu_email_customers}&nbsp;</a></li>
<li{$li_admmenu_adsgroup}><a href="{$site_url}/index.php?a=admin&amp;b=adsgroup" class="{$crnt_adsgroup}">{$lng->a_menu_adsgroup}&nbsp;</a></li>
<li{$li_admmenu_usersads}><a href="{$site_url}/index.php?a=admin&amp;b=usersads" class="{$crnt_usersads}">{$lng->a_menu_usersads}&nbsp;</a></li>
<li{$li_admmenu_itemized}><a href="{$site_url}/index.php?a=admin&amp;b=itemized" class="{$crnt_itemized}">{$lng->a_menu_itemized}&nbsp;</a></li>
<li{$li_admmenu_items}><a href="{$site_url}/index.php?a=admin&amp;b=items" class="{$crnt_items}">{$lng->a_menu_items}&nbsp;</a></li>
<li{$li_admmenu_store}><a href="{$site_url}/index.php?a=admin&amp;b=store" class="{$crnt_store}">{$lng->a_menu_store}&nbsp;</a></li>
</ul><br />
</div>

<div {$div_classite_none}>
<div class="navheader">{$lng->a_header_reviews} ::</div>
<ul class="admnav">
<li{$li_admmenu_approve_reviews}><a href="{$site_url}/index.php?a=admin&amp;b=approve_reviews" class="{$crnt_approve_reviews}">{$lng->a_menu_approve_reviews}&nbsp;</a></li>
<li{$li_admmenu_manage_reviews}><a href="{$site_url}/index.php?a=admin&amp;b=manage_reviews" class="{$crnt_manage_reviews}">{$lng->a_menu_manage_reviews}&nbsp;</a></li>
</ul><br />
</div>

<div class="navheader">{$lng->a_header_marketing} ::</div>
<ul class="admnav">
<li{$li_admmenu_adscats}><a href="{$site_url}/index.php?a=admin&amp;b=adscats" class="{$crnt_adscats}">{$lng->a_menu_ads_categories}&nbsp;</a></li>
<li{$li_admmenu_preads}><a href="{$site_url}/index.php?a=admin&amp;b=preads" class="{$crnt_preads}">{$lng->a_menu_manage_preads}&nbsp;</a></li>
<li{$li_admmenu_textads}><a href="{$site_url}/index.php?a=admin&amp;b=textads" class="{$crnt_textads}">{$lng->a_menu_manage_textads}&nbsp;</a></li>
<li{$li_admmenu_manage_banners}><a href="{$site_url}/index.php?a=admin&amp;b=manage_banners" class="{$crnt_manage_banners}">{$lng->a_menu_manage_banners}&nbsp;</a></li>
<li{$li_admmenu_invite}><a href="{$site_url}/index.php?a=admin&amp;b=invite" class="{$crnt_invite}">{$lng->a_menu_invite}&nbsp;</a></li>
<li{$li_admmenu_popover}><a href="{$site_url}/index.php?a=admin&amp;b=popover" class="{$crnt_popover}">{$lng->a_menu_manage_popover}&nbsp;</a></li>
<li{$li_admmenu_giftpass}><a href="{$site_url}/index.php?a=admin&amp;b=giftpass" class="{$crnt_giftpass}">{$lng->a_menu_giftpass}&nbsp;</a></li>
<li{$li_admmenu_refrace}><a href="{$site_url}/index.php?a=admin&amp;b=refrace" class="{$crnt_refrace}">{$lng->a_menu_refrace}&nbsp;</a></li>
<li{$li_admmenu_usrcampaign}><a href="{$site_url}/index.php?a=admin&amp;b=usrcampaign" class="{$crnt_usrcampaign}">{$lng->a_menu_usrcampaign}&nbsp;</a></li>
</ul><br />

<div class="navheader">{$lng->a_header_pages} ::</div>
<ul class="admnav">
<li{$li_admmenu_manage_pages}><a href="{$site_url}/index.php?a=admin&amp;b=manage_pages" class="{$crnt_manage_pages}">{$lng->a_menu_manage_pages}&nbsp;</a></li>
<li{$li_admmenu_create_page}><a href="{$site_url}/index.php?a=admin&amp;b=create_page" class="{$crnt_create_page}">{$lng->a_menu_create_page}&nbsp;</a></li>
</ul><br />

<div class="navheader">{$lng->a_header_tools} ::</div>
<ul class="admnav">
<li{$li_admmenu_download_group}><a href="{$site_url}/index.php?a=admin&amp;b=download_group" class="{$crnt_download_group}">{$lng->a_menu_download_group}&nbsp;</a></li>
<li{$li_admmenu_filecats}><a href="{$site_url}/index.php?a=admin&amp;b=filecats" class="{$crnt_filecats}">{$lng->a_menu_file_categories}&nbsp;</a></li>
<li{$li_admmenu_manage_files}><a href="{$site_url}/index.php?a=admin&amp;b=manage_files" class="{$crnt_manage_files}">{$lng->a_menu_manage_files}&nbsp;</a></li>
<li{$li_admmenu_manage_videos}><a href="{$site_url}/index.php?a=admin&amp;b=manage_videos" class="{$crnt_manage_videos}">{$lng->a_menu_manage_videos}&nbsp;</a></li>
<li{$li_admmenu_manage_faqs}><a href="{$site_url}/index.php?a=admin&amp;b=manage_faqs" class="{$crnt_manage_faqs}">{$lng->a_menu_manage_faqs}&nbsp;</a></li>
<li{$li_admmenu_addons}><a href="{$site_url}/index.php?a=admin&amp;b=addons" class="{$crnt_addons}">{$lng->a_menu_addons}&nbsp;</a></li>
<li{$li_admmenu_fields}><a href="{$site_url}/index.php?a=admin&amp;b=fields" class="{$crnt_fields}">{$lng->a_menu_user_fiels}&nbsp;</a></li>
<li{$li_admmenu_folderlock}><a href="{$site_url}/index.php?a=admin&amp;b=folderlock" class="{$crnt_folderlock}">{$lng->a_menu_folderlock}&nbsp;</a></li>
<li{$li_admmenu_admaccs}><a href="{$site_url}/index.php?a=admin&amp;b=admaccs" class="{$crnt_admaccs}">{$lng->a_menu_admaccs}&nbsp;</a></li>
<li{$li_admmenu_dbtool}><a href="{$site_url}/index.php?a=admin&amp;b=dbtool" class="{$crnt_dbtool}">{$lng->a_menu_manage_db}&nbsp;</a></li>
<li{$li_admmenu_myqry}><a href="{$site_url}/index.php?a=admin&amp;b=myqry" class="{$crnt_myqry}">{$lng->a_menu_myquery}&nbsp;</a></li>
</ul><br />

<div class="navheader">{$lng->a_header_settings} ::</div>
<ul class="admnav">
<li{$li_admmenu_tpl_pages}><a href="{$site_url}/index.php?a=admin&amp;b=tpl_pages" class="{$crnt_tpl_pages}">{$lng->a_menu_page_templates}&nbsp;</a></li>
<li{$li_admmenu_tpl_emails}><a href="{$site_url}/index.php?a=admin&amp;b=tpl_emails" class="{$crnt_tpl_emails}">{$lng->a_menu_email_templates}&nbsp;</a></li>
<li{$li_admmenu_settings}><a href="{$site_url}/index.php?a=admin&amp;b=settings" class="{$crnt_settings}">{$lng->a_menu_settings}&nbsp;</a></li>
<li{$li_admmenu_payplans}><a href="{$site_url}/index.php?a=admin&amp;b=payplans" class="{$crnt_payplans}">{$lng->a_menu_payplans}&nbsp;</a></li>
<li{$li_admmenu_payments}><a href="{$site_url}/index.php?a=admin&amp;b=payments" class="{$crnt_payments}">{$lng->a_menu_payments}&nbsp;</a></li>
<li{$li_admmenu_dlbuilder}><a href="{$site_url}/index.php?a=admin&amp;b=dlbuilder" class="{$crnt_dlbuilder}">{$lng->a_menu_dlbuilder}&nbsp;</a></li>
<li{$li_admmenu_themes}><a href="{$site_url}/index.php?a=admin&amp;b=themes" class="{$crnt_themes}">{$lng->a_menu_themes}&nbsp;</a></li>
<li{$li_admmenu_categories}><a href="{$site_url}/index.php?a=admin&amp;b=categories" class="{$crnt_categories}">{$lng->a_menu_site_categories}&nbsp;</a></li>
<li{$li_admmenu_manage_bad_words}><a href="{$site_url}/index.php?a=admin&amp;b=manage_bad_words" class="{$crnt_manage_bad_words}">{$lng->a_menu_manage_bad_words}&nbsp;</a></li>
</ul><br />

<ul class="admnav">
<li><a href="{$site_url}/index.php?a=admin&amp;b=logout">{$lng->a_menu_logout}&nbsp;</a></li>
</ul>

</td>
<td class="darkbg" style="width: 1px;"></td>

<td valign="top" style="padding-left: 8px;">
<div style="text-align:right; background: url({$skins_url}/{$skin_name}/images/gradgrey.png) repeat-y right; padding-top: 5px; padding-bottom: 5px;">
<span style="float: left">
<a id="close_sidebar" href="javascript:;" title="{$lng->a_main_sidebar_close}"><img src="{$skins_url}/{$skin_name}/images/side_left.gif" border=0 /></a>
<a id="open_sidebar" href="javascript:;" title="{$lng->a_main_sidebar_open}"><img src="{$skins_url}/{$skin_name}/images/side_right.gif" border=0 /></a>
&nbsp;<span id="dispDate" style="color:#C60">loading...</span> - <span id="dispTime" style="color:#C60">loading...</span></span>
&rarr; {$lng->a_s_admaccs_loginas}{$admlogin_as} <em>(<a href="{$site_url}/index.php?a=admin&amp;b=logout">{$lng->a_menu_logout}</a>)&nbsp; &nbsp;</em>
</div>
<br />

<h2>{$header}</h2><br />
{$admin_content}
</td>

</tr>
</table>