<p>DETAILS PAGE (templates/{$skin_name}/<strong>details.html</strong>)</p>

<p>{#php echo 'hello world'; php#}</p>

<!-- Tag Examples 
{$site_name}
{$site_url}
{$site_email}
{$site_egold}
{$site_joinfee}
{$site_pay_name}
{$site_pay_expired}
-->
<p><strong>Tag Examples:</strong></p>
{$site_name} : site name tag (built-in)<br />
{$site_url} : site name tag (built-in)<br />
<br />

<br />
<strong>Friendly Custom Tags Add-on demo:</strong><br />
{$tagcfg1_site_name} : site name tag<br />
{$tagcfg1_site_url} : site url tag<br />

<br />
{$tagspr_fullname_txt}<br />

<br />
{$tagspr_fullname} : sponsor full name tag<br />
{$tagspr_email} : sponsor email tag<br />
{$tagspr_username} : sponsor username tag<br />
<br />

{$tagref_username} : referrer username tag<br />
{$tagref_email} : referrer email tag<br />
{$tagref_fullname} : referrer full name tag<br />
{$tagref_address} : referrer address tag<br />

<br />
<strong>Latest News Add-on demo:</strong><br />
{$addon_latestnews}<br />

<br />
<strong>Latest Active Members Add-on demo:</strong><br />
{$addon_latestmembers}<br />

<br />
<strong>Scroller Latest Active Members Add-on demo:</strong><br />
{$addon_latestsignup}<br />

<br />
<strong>Sponsor List Add-on demo:</strong><br />
{$addon_sponsorlist}<br />

<br />
<strong>Random Members Add-on demo:</strong><br />
{$addon_randommembers}<br />

<br />
<strong>Random Members Site Add-on demo:</strong><br />
{$addon_randomsites}<br />

<br />
<strong>Detect SSL status Add-on demo:</strong><br />
{$addon_ssldetect}<br />

<br />
<strong>Show Members Site in Cloud Tag Add-on demo:</strong><br />
{$addon_cloudsites}<br />
