<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$lng->langiso}" lang="{$lng->langiso}">
<head>
<title>{$site_name} - {$header}</title>
<!--meta http-equiv="Content-Type" content="text/html;charset={$lng->charset}" /-->
<meta name="description" content="{$site_description}">
<meta name="keywords" content="{$site_keywords}">
<link rel="SHORTCUT ICON" href="{$skins_url}/{$skin_name}/images/favicon.ico" type="image/x-icon">
<link rel="alternate" href="{$site_url}/{$feed}" type="application/rss+xml" title="{$site_name}" />
<link rel="stylesheet" type="text/css" media="screen" href="{$skins_url}/{$skin_name}/default.css" />
{$include_jscripts}
{$popover_head}
</head>

<body background="{$skins_url}/{$skin_name}/images/page_bg1.gif">
{$popover_body}
{$test_mode}

<div id="article" align="center">
<table align="center" cellspacing="0" width="765px" height="544px" class='tableborder'>
<tr><td class="tablebg" width="100%" valign="top" style="padding:0px">

	<table align="center" cellspacing="0" cellpadding="0" width="100%" border=0 bordercolor="#FF8C00" style="border-collapse: collapse">
    <tr><td>
    <!--
	<img src="{$skins_url}/{$skin_name}/images/logo.jpg" alt="{$site_name}" border="0" />
    </td></tr>
    -- start top menu --
    <tr>
    <td>
    <table width="100%" cellpadding=3 cellspacing=0><tr><td class="menu" align="center">
    <span {$span_hidefrom_mainpage}></span><strong> <a href="{$site_url}/" class="{$m_acrnt_}">{$lng->main_menu_home}</a> <a href="{$site_url}/{$sefurl->'details','',''}" class="{$m_acrnt_details}">{$lng->main_menu_info}</a> <span {$div_dlbuilder_none}> <a href="{$site_url}/{$sefurl->'programs','',''}" class="{$m_acrnt_programs}">{$lng->main_menu_program}</a> </span> <span {$div_register_none}>  <a href="{$site_url}/{$sefurl->'join','',''}" class="{$m_acrnt_join}">{$lng->main_menu_join}</a> </span> <a href="{$site_url}/{$sefurl->'client','',''}" class="{$m_acrnt_client}">{$lng->main_menu_client}</a> <a href="{$site_url}/{$sefurl->'faqs','',''}" class="{$m_acrnt_faqs}">{$lng->main_menu_faq}</a> <a href="{$site_url}/{$sefurl->'contact','',''}" class="{$m_acrnt_contact}">{$lng->main_menu_contact}</a> </strong></td></tr></table>
    </td></tr>
    -- end top menu -->
    </table>

	<br />
    <table width="98%" border="0" align="center" cellpadding=2 cellspacing=2>
    <tr>
    	<td align="left" width="33%"><font color="#CC6600"><strong>{$addon_gootrans_text}{$current_language}</strong></font>
    	</td>
        <td align="center" width="34%">
        {#php if ($_SESSION['un_gPiXY'] != "") echo "<span style='background-color:#FF9'>Referred by: <br /><b>{$referrer_fullname}</b></span>"; php#}
        </td>
        <td align="right" width="33%">{$language_selector}{$addon_gootrans_flags}</td>
	</tr>
	</table>

    <br />
    <br />

    <table align="center" cellspacing="0" cellpadding="2" width="98%" style="clear: both;">
    <tr><td align="left">{$featured_header}</td></tr>
    <tr><td align="left">{$content}</td></tr>
    </table>

    <p style="margin: 0px; height: 16px;"></p>

    <!--<table width="100%" cellpadding=3 cellspacing=0 border=0 bordercolor="#FF8C00" style="border-collapse: collapse">
    <tr><td class="menuf" align="center">
    <span {$span_hidefrom_mainpage}></span><strong> | <a href="{$site_url}/" class="{$m_acrnt_}">{$lng->main_menu_home}</a> | <a href="{$site_url}/{$sefurl->'details','',''}" class="{$m_acrnt_details}">{$lng->main_menu_info}</a> <span {$div_estore_none}>| <a href="{$site_url}/{$sefurl->'order','',''}" class="{$m_acrnt_order}">{$lng->estore_menu_order}</a> </span> <span {$div_register_none}>| <a href="{$site_url}/{$sefurl->'join','',''}" class="{$m_acrnt_join}">{$lng->main_menu_join}</a> </span> | <a href="{$site_url}/{$sefurl->'news','',''}" class="{$m_acrnt_news}">{$lng->main_menu_news}</a> | <a href="{$site_url}/{$sefurl->'subscriber','',''}" class="{$m_acrnt_subscriber}">{$lng->main_menu_subscriber}</a> | <a href="{$site_url}/{$sefurl->'testimonials','',''}" class="{$m_acrnt_testimonials}">{$lng->main_menu_testimonials}</a> | <a href="{$site_url}/{$sefurl->'terms','',''}" class="{$m_acrnt_terms}">{$lng->main_menu_terms}</a> | </strong></td></tr></table>


</td></tr>
</table>
-->
<div class="bottom">
<!--{$lng->main_executiontime}: {$execution_time} | {$lng->main_queries}: {$num_queries} |--><b>{$lng->main_members}: {$num_members}</b> | {$lng->main_visitor}: <b>{$guest_visitor}</b> {$lng->main_visitor_guests} and <b>{$member_visitor}</b> {$lng->main_visitor_members}<br />
{$site_powered_by}{$cmpny_footnote}
<!--span><br />We recommend FireFox for best viewing of {$site_name}.</span-->
</div>
</div>

{$include_footcode}
</body>
</html>