
.video_favourite_body
{
   margin-top: 40px;
   position: relative;
}

.video_favourite_display
{
   position: absolute;
   left: 0;
   top:-32px;
   width: 120px;
}

.video_favourite_display ul 
{
    margin: 0px;
    padding: 0px;
}

.video_favourite_display ul li
{
    padding: 0px;
    list-style-type: none;
    display: block;
    float: left;
    position: relative;
}

.video_favourite_display ul li a 
{
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 2px #F1F1F1;
    color: #333333;
    display: block;
    font-weight: bold;
    line-height: 22px;
    margin-left: 5px;
    padding: 0 8px;
    text-decoration: none;
}

.video_share_box
{
	margin:8px 0px 5px 0px;
	border:1px #ccc solid;
	padding:5px;
	font-size:10pt;
	font-weight:bold;
}

.video_share_box a
{
	margin-right:4px;
}

.main_video_div_container
{
	height:170px;
	width:25%;
	margin-bottom:10px;
	float:left;
	padding-top:5px;
	z-index:1;
	position:relative;
}

.main_videochannel_div_container
{
	height:170px;
	width:25%;
	margin-bottom:10px;
	float:left;
	padding-top:5px;
	z-index:1;
	position:relative;
}

.video_embed
{
	width: 298px;
	height: 223px;
}

.video_info_box
{
	border:1px #DFDFDF solid;
	margin:10px 0px 10px 0px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;
	position:relative;		
	cursor:pointer;
	color:#808080;
	
	min-height:30px;
	height:auto !important;
	height:30px;	
}

.video_info_box_content
{
	padding:8px;
}

.video_info_box:hover
{
	background:#A6DFFF;
}

.video_info_box_is_clicked:hover
{
	background:#fff;
	cursor:default;
}

.video_info_box_is_clicked
{
	color:#333;
}

.video_info_box_list .full_name
{
	font-weight:bold;	
}

.video_info_view
{
	position:absolute;
	right:5px;
	font-size:16px;
	font-weight:bold;
	color:#000;
}

.js_info_toggle_show_less
{
	display:none;
}

.video_info_toggle span
{
	position:relative;
}

.video_info_toggle span img
{
	position:absolute;
	top:1px;
	right:-14px;
}

.video_info_box_extra
{
	padding-top:10px;
	display:none;
}

.video_info_box .item_view_more
{
	display:none;
}

.video_info_box_list
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.video_info_box_list li
{
	display:inline;
	padding-right:4px;
	border-left:1px #CCC solid;	
	padding-left:8px;	
}

.video_info_box_list li.first
{
	border-left:0px;
	padding-left:0px;
}

.video_info_box_text
{
	padding-top:5px;
}

.video_user_bar
{
	position:relative; 
	border:1px #ccc solid;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;	
	display:none;
}

.video_user_bar_previous,
.video_user_bar_next
{
	position:absolute; 
	width:30px;	
	z-index:20;
}

.video_user_bar_previous a,
.video_user_bar_next a
{
	display:block;
	height:180px;
	background:blue;
	overflow:hidden;
	text-indent:-1000px;
}

.video_user_bar_previous
{
	left:0px;	
}

.video_user_bar_next
{
	right:0px;
}

.video_user_box
{
	overflow:hidden; position:relative; margin-left:45px; width:630px; height:180px;
}

.video_user_more_holder
{
	position:absolute; left:0px; width:630px;	
}

.view_user_more_item
{
	width:150px; /*position:absolute;*/
	float:left;
	height:180px;
}

.video_user_link_holder
{
	position:relative;
	height:40px;
}

a.video_user_link,
a.video_user_link:hover
{
	display:block;
	position:absolute;	
	left:0px;
	line-height:30px;
	border:1px #ccc solid;
	padding:0px 4px 0px 4px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;
	text-decoration:none;	
}

.video_user_link span
{
	font-weight:bold;
}

.video_user_bar_pager
{
	padding:6px 6px 0px 6px;
	position:relative;
	height:30px;	
}

.video_user_bar_pager_menu
{
	position:absolute;
	right:0px;	
}

a.video_user_bar_pager_more,
a.video_user_bar_pager_more:hover
{
	font-size:12px;
	font-weight:bold;
}

.video_user_bar_pager_menu ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}


.video_user_bar_pager_menu ul li
{
	float:left;
}

.video_user_bar_pager_menu ul li a,
.video_user_bar_pager_menu ul li a:hover
{
	display:block;
	line-height:22px;
	padding:0px 8px 0px 8px;
	margin-right:4px;
	border:1px #ccc solid;
	background:#EDEDED;
	text-decoration:none;
}

.video_user_bar_pager_menu ul li a.active
{
	background:#DDDDDD;
	color:#333;
}

.video_user_bar_loader
{
	padding:5px;	
	font-weight:bold;
}

.video_rate_body
{
	position:relative;	
	margin-bottom:10px;		
}

.video_rate_display
{
	position:absolute;
	right:0px;
	width:90px;
	z-index:100;	
}

.video_view_embed_holder
{
	display:none;
	padding:10px 0px 0px 0px;
}

#js_block_bottom_1 span
{
	text-align:right;
	padding:8px 0px 0px 0px;
	color:#D0D0D0;	
	display:block;
}

.video_image_border
{
	border:1px #ccc solid;
}

.video_height_holder
{
	height:90px; margin-bottom:5px;
}

.video_width_holder
{
	width:120px;
}

.video_duration
{
	position:absolute; bottom:0; right:0; background:#000; color:#fff; font-size:8pt; margin-bottom:3px; padding:1px; font-weight:bold;
}

/** Video Channel **/
#channel_entry_block{
	max-width: 710px;
	  position: relative;
}

#prev_channels, #next_channels{
	  display: none;
}

.channel_entry .row1, .channel_entry .row2 {
	  border-bottom: 1px solid #DFDFDF;
	  padding: 8px 0;
}

.channel_entry .row_first {
	  padding-top: 0;	  
}

.channel_entry .row_title {
	  position: relative;
}

.channel_entry .row_title_info {
	  margin-left: 140px;
	  min-height: 95px;
	  padding-bottom: 20px;
}
.channel_entry .row_title_info span{
	  
}
.channel_entry .row_title_image {
	  border: 1px solid transparent;
	  left: 0;
	  padding: 2px 0 5px;
	  position: absolute;
	  text-align: center;
	  width: 125px;
	  height: 88px;
}
.channel_entry .channel_desctiption {
	  font-size: 12px;
	  height: 75px;
}


.channel_desctiption .extra_info, .channel_desctiption  .extra_info_link {
	  color: #808080;
	  padding-top: 4px;
	  padding-right: 0px;
	  padding-bottom: 4px;
	  padding-left: 0px;
}

.channel_desctiption .extra_info{
	  margin-top: 4px;
	  margin-bottom: 4px;
	  overflow: hidden;
}

.channel_edit_row {
	  position: relative;
}

.channel_edit_holder {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #DFDFDF;
    padding: 5px;
    position: absolute;
    right: 0;
    width: 220px;
}
.channel_edit_info{
	  min-height: 315px;
}
div.brd_bottom {
	  border-bottom: 1px solid #DFDFDF;
	  display: block;
	  height: 30px;
	  margin-bottom: 10px;
}

div.brd_bottom a.selectall, div.brd_bottom a.unselectall
{
	   float: right;
	   line-height: 40px;
	   cursor: pointer;
}
/** Channel_Add Video List**/
div#channel_video_list
{
	  padding-bottom: 20px;	  
}
ul.channel_add_video_list li.video_entry{
	  float: left;	  
	  margin: 7px 30px;
	  width: 120px;
	  min-height:120px;
}

div#channel_video_list ul.channel_add_video_list
{
	  display: none;
}

div#channel_video_list ul.active
{
	  display: block;
}
.channel_add_video_list .video_entry .video_duration {
	  background: none repeat scroll 0 0 #000000;
	  bottom: 0;
	  color: #FFFFFF;
	  font-family: arial sans-serif;
	  font-size: 9px;
	  margin-bottom: 3px;
	  padding: 2px 5px;
	  position: absolute;
	  right: 0;
}

.channel_add_video_list .video_entry .video_title {
	  color: #111;	  
	  font-size: 10px;
	  font-weight: bold;
	  text-align: center;
	  width: 120px;
}
.channel_entry .chanel_action {
	  position: relative;
	  padding-bottom: 5px;
	  margin-top: 10px;
}
.channel_entry .chanel_action input.button {
	  float: right;
	  margin-left: 5px;
}
.channel_entry .chanel_action .highlight{
	  background: none repeat scroll 0 0 #E3F6E5;
        border: 1px solid #B4E3B9;
	  float: left;
	  padding: 5px 10px;
}

#search_channel_loading {
	  font-size: 15px;
	  font-weight: bold;
	  text-align: center;
}
.channel_entry .chanel_action .item_bar{
	  position: absolute;
        right: 0;	  
}
.channel_entry .chanel_action .channel_processing{
	  float: right;
	  margin-right: 150px;
	  line-height: 35px;
	  display: none;
}

a.moderate_link_active {
	  display: block !important;
}

div.row_featured, div.row_sponsored, div.row_sponsored_image, div.row_moderate_image, div.row_featured_image {
    background: none;
    border-top: none;
}
#js_block_border_videochannel_category .sub_section_menu ul li a,#js_block_border_videochannel_category .sub_section_menu ul li a:hover
{
border-bottom:1px #DFDFDF solid;
}
#video_select_box{
display: none;
}
.item_bar_action_holder ul
{
	border:none!important;
}

/** CSS for mobile view */
@media only screen and (max-width : 320px) {
	.main_videochannel_div_container{
		width:50%;
		height:145px;
	}
	.video_width_holder{
		width:120px;
	}
}
 .channel_entry.mobile-video-entry .chanel_action .item_bar{
	position:inherit;
}
.channel_entry.mobile-video-entry .channel_desctiption{	
	height:auto;
}
.mobile-add-channel .channel_edit_holder{
	position:inherit;
	width:100%;
}
 .channel_entry.mobile-video-entry .privacy_setting{
	width:90%;
 }
 
/*
 * Nebula fix
 */
#js_controller_videochannel_index #content.content3{
	width:520px;
}
#js_controller_videochannel_index #right{
	width:250px;
}
#js_controller_videochannel_view #left{
	display:none;
}
#js_controller_videochannel_view #main_content{
	margin-left:0;
	border-left:none;
}
#js_controller_videochannel_view #content.content3{
	width: 700px;
}
#js_controller_videochannel_view #right{
	width:250px;
}
