{$client_customfields}
<tr>
<td><label>{$lng->g_address}</label></td>
<td>:</td><td><label><strong>{$myspr_address}</strong></label></td>
</tr>
<tr>
<td><label>{$lng->g_state}</label></td>
<td>:</td><td><label><strong>{$myspr_state}</strong></label></td>
</tr>
<tr>
<td><label>{$lng->g_country}</label></td>
<td>:</td><td><label><strong>{$myspr_countrylong}</strong></label></td>
</tr>
<tr>
<td><label>{$lng->join_website}</label></td>
<td>:</td><td><label><a href="{$myspr_url}" title="{$myspr_urldesc}"><strong>{$myspr_title}</strong></a></label></td>
</tr>
