{$ads_filter_form}<br />
<hr width="100%"><br />

<h3><em>{$subheader_preads}</em></h3>
<br />
{$subheader_preads_details}
<br />

<div {$div_classite_none}>
<a href="{$site_url}/{$verbose_link}" title="{$title_link_code}"><img src="{$site_url}/button.php?u={$username}" alt="{$site_name}" border="0" /></a><br /><br />
<form name="txt">
<textarea readonly="readonly" name="txt" rows="4" style="width: 100%;">&lt;a href="{$site_url}/{$verbose_link}" title="{$title_link_code}">&lt;img src="{$site_url}/button.php?u={$username}" alt="{$site_name}" border="0" />&lt;/a></textarea>
<br />
<script>
if (navigator.appName == "Microsoft Internet Explorer") 
	{document.write("<input type='button' class='button' value='Select &amp; Copy' onClick='javascript:this.form.txt.focus();this.form.txt.select();initiatecopy();copyit();' name='button'>")}
else
	{document.write("<input type='button' class='button' value='Select' onClick='javascript:this.form.txt.focus();this.form.txt.select();' name='button'>") }
</script>
</form>
<br /><br />

<a href="{$site_url}/{$verbose_link}" title="{$title_link_code}"><img src="{$site_url}/button.php?u={$username}&t=1" alt="{$site_name}" border="0" /></a><br /><br />
<form name="txt">
<textarea readonly="readonly" name="txt" rows="4" style="width: 100%;">&lt;a href="{$site_url}/{$verbose_link}" title="{$title_link_code}">&lt;img src="{$site_url}/button.php?u={$username}&t=1" alt="{$site_name}" border="0" />&lt;/a></textarea>
<br />
<script>
if (navigator.appName == "Microsoft Internet Explorer") 
	{document.write("<input type='button' class='button' value='Select &amp; Copy' onClick='javascript:this.form.txt.focus();this.form.txt.select();initiatecopy();copyit();' name='button'>")}
else
	{document.write("<input type='button' class='button' value='Select' onClick='javascript:this.form.txt.focus();this.form.txt.select();' name='button'>") }
</script>
</form>
<br /><br />

<a href="{$site_url}/{$verbose_link}" title="{$title_link_code}"><img src="{$site_url}/button.php?u={$username}&t=2" alt="{$site_name}" border="0" /></a><br /><br />
<form name="txt">
<textarea readonly="readonly" name="txt" rows="4" style="width: 100%;">&lt;a href="{$site_url}/{$verbose_link}" title="{$title_link_code}">&lt;img src="{$site_url}/button.php?u={$username}&t=2" alt="{$site_name}" border="0" />&lt;/a></textarea>
<br />
<script>
if (navigator.appName == "Microsoft Internet Explorer") 
	{document.write("<input type='button' class='button' value='Select &amp; Copy' onClick='javascript:this.form.txt.focus();this.form.txt.select();initiatecopy();copyit();' name='button'>")}
else
	{document.write("<input type='button' class='button' value='Select' onClick='javascript:this.form.txt.focus();this.form.txt.select();' name='button'>") }
</script>
</form>
<br /><br />

<a href="{$site_url}/{$verbose_link}" title="{$title_link_code}"><img src="{$site_url}/button.php?u={$username}&t=3" alt="{$site_name}" border="0" /></a><br /><br />
<form name="txt">
<textarea readonly="readonly" name="txt" rows="4" style="width: 100%;">&lt;a href="{$site_url}/{$verbose_link}" title="{$title_link_code}">&lt;img src="{$site_url}/button.php?u={$username}&t=3" alt="{$site_name}" border="0" />&lt;/a></textarea>
<br />
<script>
if (navigator.appName == "Microsoft Internet Explorer") 
	{document.write("<input type='button' class='button' value='Select &amp; Copy' onClick='javascript:this.form.txt.focus();this.form.txt.select();initiatecopy();copyit();' name='button'>")}
else
	{document.write("<input type='button' class='button' value='Select' onClick='javascript:this.form.txt.focus();this.form.txt.select();' name='button'>") }
</script>
</form>
</div>