<fieldset>
<legend>{$lng->g_sendto}</legend><br />
<table width="100%" border=0>{$ttf_to}</table>
</fieldset><br />
<fieldset>
<legend>{$lng->a_msgr_tb_subject}</legend><br />
<input type="text" name="msubject" value="{$ttf_tpl_subject}" size="50" /><br /><br />
{$lng->a_invite_tags} <strong><a href="javascript:void(0);" onClick="addTexTag(document.invite.msubject, '%FRIEND_NAME%');">%FRIEND_NAME%</a> <a href="javascript:void(0);" onClick="addTexTag(document.invite.msubject, '%FRIEND_EMAIL%');">%FRIEND_EMAIL%</a></strong>
<br />
</fieldset><br />
<fieldset><legend>{$lng->a_invite_top}</legend><br />{$ttf_tpl_header}</fieldset><br />
<fieldset><legend>{$lng->a_invite_message}</legend><br />
<textarea style="width: 99%;" rows="10" name="mbody" id="mbody" />{$ttf_tpl_content}</textarea><br /><br />
{$lng->a_invite_tags} <strong><a href="javascript:void(0);" onClick="addTexTag(document.invite.mbody, '%FRIEND_NAME%');">%FRIEND_NAME%</a> <a href="javascript:void(0);" onClick="addTexTag(document.invite.mbody, '%FRIEND_EMAIL%');">%FRIEND_EMAIL%</a></strong>
<br />
</fieldset>
<br />
<fieldset><legend>{$lng->a_invite_bottom}</legend><br />{$ttf_tpl_footer}</fieldset>
</fieldset>
<br />
<input name="reset" type="reset" class="button" value="{$lng->g_button_reset}" />&nbsp;
<input name="submit" type="submit" class="button" value="{$lng->g_button_submit}" />