.ynp-mobile-featured {
	margin-bottom:10px;
}
.ynp-mobile-featured + .ynp-mobile-featured{
	border-top:1px solid #dfdfdf;
	padding-top:10px;
}
#js_block_border_petition_featured .ynp-mobile-featured div.row_title_info{
	margin-left:100px;
}
.ynp-content-featured{
	width:auto!important;
	padding-bottom:10px;
}